# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Project files
*.code-workspace
.vscode

# Build directory
build/examples/*
build/tests/unit/*
build/tests/perf/*
!build/examples/.gitkeep
!build/tests/*/.gitkeep

# Ninja build logs
.ninja_*
build.sh

# Doc html output directory
doc/html
doc/xml
doc/build
doc/source
doc/Makefile
